/* Spacing */
.p-5{ padding: 40px !important;}
.p-4{ padding: 20px !important;}
.p-3{ padding: 10px !important;}
.p-2{ padding: 5px !important;}
.p-1{ padding: 2px !important;}
.p-0{ padding:0px !important;}

.pt-5{ padding-top: 40px !important;}
.pt-4{ padding-top: 20px !important;}
.pt-3{ padding-top: 10px !important;}
.pt-2{ padding-top: 5px !important;}
.pt-1{ padding-top: 2px !important;}
.pt-0{ padding-top:0px !important;}

.m-5{ margin: 40px !important;}
.m-4{ margin: 20px !important;}
.m-3{ margin: 10px !important;}
.m-2{ margin: 5px !important;}
.m-1{ margin: 2px !important;}
.m-0{ margin:0px !important;}
.m-auto{margin: auto !important;}

.mt-5{margin-top: 50px !important;}
.mt-4{margin-top:40px !important;}
.mt-3{margin-top: 20px !important;}
.mt-2{margin-top: 10px !important;}
.mt-1{margin-top: 5px !important;}
.mt-0{ margin-top:0px !important;}

.mb-5{margin-bottom: 50px !important;}
.mb-4{margin-bottom:40px !important;}
.mb-3{margin-bottom: 20px !important;}
.mb-2{margin-bottom: 10px !important;}
.mb-1{margin-bottom: 5px !important;}
.mb-0{ margin-bottom:0px !important;}

.ml-5{ margin-left: 40px !important;}
.ml-4{ margin-left: 20px !important;}
.ml-3{ margin-left: 10px !important;}
.ml-2{ margin-left: 5px !important;}
.ml-1{ margin-left: 2px !important;}
.ml-0{ margin-left:0px !important;}
.ml-auto{margin-left:auto !important;}

.mr-5{ margin-right: 40px !important;}
.mr-4{ margin-right: 20px !important;}
.mr-3{ margin-right: 10px !important;}
.mr-2{ margin-right: 5px !important;}
.mr-1{ margin-right: 2px !important;}
.mr-0{ margin-right:0px !important;}
.mr-auto{margin-right:auto!important;}

/* Font */
.text-light{
    font-weight: 100;
}
.text-medium{
    font-weight: 300;
}
.text-bold{
    font-weight: bold;
}

/*Colors*/
.color-black{
    color: black
}

/*Alignment*/
.float-right{float: right !important;}
.float-left{float: left !important;}
.float-none{float: none !important;}

/*Display*/

.display-flex{display: flex!important};
.display-block{display: block!important};